.carousel-test {
    .slider {
        height: 100vh;

        .slide {
            height: 100vh;
        }

        .slide-1 {
            background-color: red;
        }

        .slide-2 {
            background-color: green;
        }

        .slide-3 {
            background-color: blue;
        }
    }
}